<div style="width:100%;" layout="row" layout-align="center center">
  <md-card md-theme="default" md-theme-watch flex=35 >
    <md-card-title>
      <md-card-title-text layout-align="center center">
        <span class="md-headline">contact</span>
      </md-card-title-text>
    </md-card-title>
    <md-divider/>
    <md-card-text>
        <div style="margin:1em;">
          <h2> Catherine CUNSOLO <br> </h2>
          <h3>Directeur de clientèle <br>
          Responsable des Assurances de Personnes</h3>

          Central Parc II - 115, boulevard Stalingrad  69100 Villeurbanne <br>
          Fixe : +33 (0)4 72 71 57 84 <br>
          Mail : <a href="mailto:ccunsolo@diot.com" target="_blank">ccunsolo@diot.com</a> <br>

          N° ORIAS: 07 001 016 - Site internet <a href="www.orias.fr" target="_blank">www.orias.fr</a> <br>
          Service réclamations : <a href="mailto:reclamations-diotrhonealpes@diot.com" target="_blank">reclamations-diotrhonealpes@diot.com</a> <br>
        </div>
    </md-card-text>
  </md-card>
</div>
