<div layout="row" layout-sm="column" ng-mousemove="mouseMove()" ng-mousedown="mousedown = true" ng-mouseup="mousedown=false" ng-init="mousedown=false">
  <md-content layout="column" flex style="background:#004586;">
    <md-autocomplete
    ng-model="ctrl.country.name"
    md-no-cache="true"
    md-selected-item="ctrl.selectedItem"
    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
    md-search-text="ctrl.searchText"
    md-items="item in ctrl.querySearch(ctrl.searchText)"
    md-item-text="item.display"
    md-selected-item-change="ctrl.selectedItemChange(item)"
    md-min-length="0"
    placeholder="Rechercher pays manuellement"
    ng-if="showAutoComplete">
    <md-item-template>
      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
    </md-item-template>
    <md-not-found>
      No states matching "{{ctrl.searchText}}" were found.
    </md-autocomplete>
    <datamap id="map" map="mapObject" zoomable="True" on-click="updateActiveGeography" style="background:#004586"></datamap>
  </md-content>
  <md-sidenav
        class="md-sidenav-right"
        md-component-id="right"
        md-whiteframe="4"
        style="background:rgba(255,255,255,0.8)">

      <md-content layout="column" style="background:rgba(255,255,255,00)">
        <div layout="row" class="md-toolbar-tools" layout-align="space-between center">
          <h1  ng-if="ctrl.country.name">{{ctrl.country.name}}</h1>
          <h1 ng-if="!ctrl.country.name">Nom du pays</h1>
          <div layout="row" ng-if="ctrl.country.currency" layout-align="center center">
            <h3 ng-repeat="c in ctrl.country.currency">{{c}}<t ng-show="$index !=ctrl.country.currency.length-1">,</t></h3>
          </div>
        </div>
        <div layout="row" layout-align="left center">
          <h5 style="padding-right:3em">Niveau de risque:</h5>
          <span>
            {{ctrl.country.riskLevel}}
          </span>
        </div>
        <div >
          <h5>Description des risques:</h5>
          <ul style="list-style-type:disc">
            <li ng-repeat="r in ctrl.country.riskDescription">
              {{r}}
            </li>
          </ul>
        </div>
        <div>
          <h5>Conseil:</h5>
          <ul style="list-style-type:disc">
            <li ng-repeat="a in ctrl.country.advice">
              {{a}}
            </li>
          </ul>
        </div>
        <div layout="row" layout-align="left center">
          <h5 style="padding-right:3em">Site Web:</h5>
          <a ng-href="{{ctrl.country.url}}" target="_blank">Site de référence</a>
        </div>
      </md-content>
      <md-button ng-click="closeSideNav()" class="md-primary">
        Fermer
      </md-button>

    </md-sidenav>
</div>
<link rel="stylesheet" href="static/css/mycss.css" media="screen" title="no title" charset="utf-8">
